# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

*.dat
Gemfile.lock

# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

coverage
rom-name-finder/frontend/public/db/
rom-name-finder/frontend/public/wasm/