.overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-overlay-bg);
    pointer-events: all;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    padding: 1.5rem;
    background: var(--color-bg-primary);
    border-radius: 50%;
    box-shadow: 0 10px 25px var(--color-box-shadow);
}
