@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    border: 2px solid var(--color-spinner-border);
    border-top-color: var(--color-spinner-active);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

.small {
    width: 1rem;
    height: 1rem;
}

.medium {
    width: 1.5rem;
    height: 1.5rem;
}

.large {
    width: 2rem;
    height: 2rem;
}
