@keyframes fadeIn {
    from {
        opacity: 0;
        bottom: -3rem;
    }
    to {
        opacity: 1;
        bottom: 2rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        bottom: 2rem;
        transform: rotate(0);
    }
    30% {
        opacity: 1;
        bottom: 2rem;
        transform: rotate(180deg);
    }
    70% {
        opacity: 0;
        bottom: -3rem;
    }
}

.scrollToTop {
    position: fixed;
    bottom: -3rem;
    right: 0.5rem;
    z-index: 1000;
    padding: 0.5rem;
    box-shadow: 0 4px 12px var(--color-box-shadow);
    border-radius: 50%;
    opacity: 0;

    @media (min-width: 640px) {
        .scrollToTop {
            right: 2rem;
        }
    }
}

.enter {
    animation: fadeIn 0.3s ease-out forwards;
}

.exit {
    animation: fadeOut 0.5s ease-in forwards;
}