.lil-gui.lil-root {
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: var(--color-bg-secondary);
    --title-background-color: var(--color-accent);
    --widget-color: var(--color-bg-tertiary);
    --hover-color: var(--color-accent);
    --name-width: 25%;

    .lil-controller.lil-function {
        display: inline-block;
        width: 50%;
    }
}