.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;

    @media (min-width: 640px) {
        flex-direction: row;
        align-items: center;
    }

    .label {
        font-weight: 500;
        color: var(--color-text-quaternary);

        .required {
            color: var(--color-error);
            margin-left: 0.25rem;
        }
    }
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;

    &::after {
        content: '';
        position: absolute;
        right: 0.6rem;
        width: 24px;
        height: 24px;
        mask-image: url("@/img/arrow-down.svg");
        mask-size: contain;
        background-color: var(--color-text-tertiary);
        pointer-events: none;
    }

    &:has(select:open)::after {
        transform: scaleY(-1);
    }

    &:hover::after {
        background-color: var(--color-text-secondary);
    }
}

.select {
    flex: 1;
    padding: 0.625rem 2.5rem 0.625rem 0.75rem;
    font-size: var(--fsize-md);
    line-height: 1.5;
    border: 1px solid var(--color-select-border);
    border-radius: 0.375rem;
    background-color: var(--color-select-bg);
    color: var(--color-select-text);
    transition: border-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    appearance: none;

    &:focus,
    &:hover {
        outline: none;
        border-color: var(--color-focus);
        box-shadow: 0 0 0 3px var(--color-focus-ring);
    }

    &:disabled {
        background-color: var(--color-bg-tertiary);
        cursor: not-allowed;
    }

    &::placeholder {
        color: var(--color-select-placeholder);
    }

    &[aria-invalid="true"] {
        border-color: var(--color-error);

        &:focus {
            box-shadow: 0 0 0 3px var(--color-focus-ring-error);
        }
    }
}

.error {
    flex: 1 0 100%;
    font-size: var(--fsize-sm);
    color: var(--color-error);
}
