name: CI

on:
  push:
    branches: ["master"]

jobs:
  build-db:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci --prefix rom-name-finder
      - run: npm run db --prefix rom-name-finder

  lint:
    runs-on: ubuntu-latest
    needs: build-db
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci --prefix rom-name-finder/frontend
      - run: npm run lint --prefix rom-name-finder/frontend

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci --prefix rom-name-finder/frontend
      - run: npm run test:run --prefix rom-name-finder/frontend

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: 'npm'
      - run: npm ci --prefix rom-name-finder/frontend
      - run: npm run build --prefix rom-name-finder/frontend
